.wrapper{
  max-width: 46rem;
  margin: -2rem auto 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.wrapper .input{
  display: flex;
  flex:1;
}

.wrapper .input form{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.wrapper .input form input{
  width: 80%;
  padding: 1rem;
  background-color: var(--gray-500);
  border: none;
  border-radius: 8px;
  color: var(--gray-100);
  outline: none;
}

.wrapper .input form button{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--blue-500);
  border: none;
  color: var(--gray-100);
  cursor: pointer;
}

.wrapper .input form button:hover{
  filter: opacity(0.9);
}
